body{
    margin: 0;
    padding: 0;
}
header{
    background-image: url(../img/slidebg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 720px;
    padding-top: 15px;
}
nav{
    min-width: 1200px;
    max-width: 1400px;
    height: 125px;
    background-color: black;
    margin: 0 auto 0 auto;
}
nav #logo{
    margin: 23px;
    float: left;
}
nav #logo img{
   height: 75px; 
}
nav ul{
    display:flex;
    flex-direction: row;
    margin:0;
    padding:0;
}
nav ul li{
    color:white;
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    list-style:none;
}
nav ul li a{
    
    padding: 55px 20px 55px 0;
    float: left;
}
nav #menu_principal{
    float: right;
}
#menu_principal li span{
    font-family: Montserrat, sans-serif;
    font-size: 11px;
    color: rgb(134,134,134);
    margin-top: 60px;
    margin-right: 3px;
    float: left;
}
#menu_principal li a{
    color:white;
    font-size:14px;
    text-transform: uppercase; /*deixa o texto maiúsculo independente da maneira como é escrito*/
    text-decoration: none;
    transition: 1s;
}
#menu_principal li a:hover{
    color: #e7a920;
    transition: 1s;
    text-decoration: line-through;
}
.secao1{
    background-image: url(../img/divider-dark.png);
    width: 100%;
    height: 500px;
    background-repeat: repeat-x;
    padding-top: 100px;
}
.icons{
    width: 345px;
    height: 100px;
    margin-top: 1000px;;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}
.icons .icon img{
    width: 115px;
}
.texto{
    height: 100px;
    width: 100%;
}

/* ----------------------------------sem internet-----------------------------------------*/

.texto{
    width: 850px;
    margin: 0 auto;
}
.texto h6{
    font-size: 28px;
    font-weight: 300;
    width: 80%;
    display: inline-block;
    line-height: 40px;
    font-family: 'Roboto Slab', serif; /*carregar a foto do google fontes*/
    text-align: center;
    margin-left: 90px;
    margin-top: 60px;
}
.secao2{
    text-align: center;
    margin-top: 110px;
}
.secao2 .texto2 h4{
    font-size: 24px;
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    font-style: italic;
    color:#e7a920;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 11px;
    margin-bottom:0;
}
.secao2 .texto2 h1{
    font-size: 85px;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    background-image: url(../img/black-wave.png);
    background-position-x: center;
    background-position-y: 108px;
    background-repeat: no-repeat;
}
.secao2 span{
    font-size: 20px;
    font-family: Montserrat, sans-serif;
    font-weight: 0.1;
    font-style: italic;
    margin-top: 12px;
    display: inline-block;
}
.secao2 .mosaico{
    min-width: 1200px;
    max-width: 1400px;
    margin: 0 auto;
}
.secao2 .mosaico .item{
    height: 470px;
    width: 570px;
    background-image: url(../img/imagemheliponto.jpg);
    background-size: contain; 
}
.secao2 .mosaico .item:hover{
    background-size: 110%;
    background-position: center;
}

/* ------------------------------------Trabalhos------------------------------------------*/

#trabalhos header{
    background-color: blue;
    height: 100%;
    width: 100%;
}